@import url(partials/_variables.css);
@import url(partials/_global.css);


/* start navigation */
.header .main .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
    max-width: 135px;
    font: italic 600 30px/10px georgia;
    color: #f2f9f7;
    letter-spacing: -2px;
    position: relative;
    right: 15px;
}

.header .main .navbar .navbar-brand .i {
    color: #C38D9E;
}

.header .main .navbar .navbar-brand .i::before {
    content: "ı";
    position: absolute;
    color: #f2f9f7;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    margin: 5px -20px 0 0;
    border: none;
}

.navbar-toggler .line {
    width: 90%;
    float: left;
    height: 1px;
    background: #f2f9f7;
    margin-bottom: 5px;
}


.header .main .navbar {
    padding: 1rem 20rem;
    background: var(--gradient-color);
}

.header .main .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    /* text-transform: uppercase; */
    padding: 1.7rem;
    color: var(--text-color);
}

.header .main .navbar-nav .active a {
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header .main .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-link {
    color: #f38970 !important;
}

/* end nav */


/*start banner*/
main {
    margin-bottom: 150px;
    background: #fff;
}

.site-main .site-banner {
    color: #f2f9f7;
    background: var(--gradient-color);
}

/*profile picture*/
.site-main .site-banner .profile-image>img {
    width: 175px;
    position: relative;
    right: 30px;
}

.greetings {
    font-family: 'back_issues_bbitalic';
    font-size: 20px;
    width: 100px;
    color: #f2f9f7;
    text-align: justify;
    position: relative;
    top: 4.5em;
    right: 16px;
}

.site-main .site-banner p {
    font-family: 'back_issues_bbregular';
    font-size: 18px;
    width: 190px;
    line-height: 1.1;
    position: absolute;
    left: -28px;
    bottom: 15px;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 250px; 
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 50%;
    margin-left: 0px;
}

/* Popup arrow */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #C38D9E transparent transparent transparent;
} */

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    animation: bounceIn 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

/* Add animation (fade in the popup) */
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3) translate3d(0, 0, 0);
    }

    10% {
        transform: translate3d(-1px, 0, 0);
    }

    20% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    70% {
        transform: translate3d(-3px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(3px, 0, 0);
    }

    50% {
        opacity: 0.9;
        transform: scale(1.1) translate3d(0, 0, 0);
    }

    80% {
        opacity: 1;
        transform: scale(0.89) translate3d(2px, 0, 0);
    }

    90% {
        transform: translate3d(-1px, 0, 0);
    }

    100% {
        opacity: 1;
        transform: scale(1) translate3d(0, 0, 0);
    }
}

/*end banner*/

/* Start about */
.site-main .about {
    padding: 1rem;
}

/*Let Me Introduce Myself*/
.site-main .about .title h2>span {
    display: block;
    font: italic bold 34px/60px georgia;
    letter-spacing: -3px;
    text-transform: lowercase;
    color: #26BEDD;
}

.site-main .about p {
    font-family: 'roboto';
    font-size: 16px;
    color: #0d0c0a;

}

.site-main .about p>a {
    color: #009D9E;
    font-weight: bold;
}

.site-main .about p>a:hover {
    cursor: pointer;
    color: #f38970;
    transition: 0.4s;
}

.site-main .about p>span {
    text-decoration: underline wavy;
    text-decoration-color: #009D9E;
    font-weight: bold;
    color: #F57161;
    font-style: italic;
}

.site-main .about p>span:hover {
    cursor: pointer;
    color: #7ec9b1;
    text-decoration-color: #99d4c1;
    transition: 0.4s;
}

/* End about */

/* Start skills */
.site-main .skills {
    background: #8D9DC3;   
}

.site-main .skills .title h2>span {
    display: block;
    font: italic bold 34px/60px georgia;
    letter-spacing: -3px;
    text-transform: lowercase;
    color: #fadcdc;
    ;
}

 .carousel {
     height: 350px; 
 }

/* 
 .carousel-item,
 .carousel-inner,
 .carousel-inner img {
     height: 60%;
     width: auto;
 }*/

 .carousel-item {
     text-align: center;
 } 

 .carousel-item img{
     margin: 0 auto;  
 }

 .carousel-control-prev,
 .carousel-control-next {
     bottom: 20%;
 }
 
/* End skills */

/* Start Project Area */

.site-main .project-area {
    padding: 2rem 0 3rem 0; 
}

.site-main .project-area .title h2>span {
    display: block;
    font: italic bold 34px/60px georgia;
    letter-spacing: -3px;
    text-transform: lowercase;
    color: #00b0b2;
}

.site-main .project-area .btn-group {
    padding: 3px; 
}

.site-main .project-area button {
    font: normal 600 18px/30px 'roboto';
    text-transform: uppercase;
    padding: 0.3rem 2rem;
    border: none;
    border-radius: 3px;
    background: #E8A87C;
    color: #fff;
    width: 100%;
    margin: 3px 0;
}

.site-main .project-area button:hover {
    background: #f1b037;
    transition: 1s;
}


.site-main .project-area .grid .element-item {
    border-radius: 3px;
    background: #f9f9f9;
    ;
    ;
    padding: 0 0 10px 0;

}

.site-main .project-area .grid .element-item .project-links {
    text-align: center;

}

.site-main .project-area .grid .element-item .project-links a {
    border-radius: 0.2rem;
    font-weight: bold;
    background: #3f3f3f;
    color: white;
    padding: 0.5rem 1rem;
}

.site-main .project-area .grid .element-item .project-links a:hover {
    background: #9fd6da;
    transition: 1s;
}


.site-main .project-area .grid .our-project>.title h4 {
    font: normal 500 18px/25px var(--roboto); 
}

.site-main .project-area .grid .our-project .img video {
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    transition: 0.4s;
}

/* End Project Area */


/* Start Contact Area */
.contact-area {
    padding: 2rem;
    background: #C38D9E;
}

.contact-us {
    font: bold 32px var(--roboto);
    transition: all .5s ease;
}

.contact-us:hover {
    color: #ed84a5;
}

a:hover {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: -1;
}

footer.footer-area {
    padding: 2rem;
}

footer.footer-area .social a>i {
    font-size: 32px;
    padding: 2rem 1rem;
}


/*End Contact Area*/